.leftbar {
  background-color: #083a59;
  height: 100vh;
}

button.leftbar {
  background-color: transparent;
}

@media (min-width: 1200px) {
  .menu-horizontal {
    /* height: 100vh; */
    /* width: 220px; */
  }
}
