.leftbar {
  background-color: #083a59;
  height: 100vh;
}

.max-width-59 {
  max-width: 59px;
}

button.leftbar {
  background-color: transparent;
}

.small-logo {
  min-height: 72px;
  background-color: #1e8ced;
}
