.btn-expand {
  display: flex;
  justify-content: flex-end;
}

td {
  vertical-align: middle !important;
}

.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.bg-light-blue {
  background-color: #5aaaff !important;
}

.bg-light-blue.last {
  border-radius: 0 0 0.85rem 0.85rem !important;
}

.white-text {
  color: white;
}
