@media (max-width: 968px) {
  .panel {
    display: block;
    /* flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center; */
  }
}

@media (min-width: 968px) {
  .panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
  }

  .panel-item {
    width: 30%;
  }
}

.card {
  /* border: 0px solid #dddfe2 !important; */
  border-radius: 0.85rem !important;
}

.panel-item {
  margin: 1.5%;
}

.item-icon-blue {
  font-size: 400%;
  color: #007bff;
}

.item-icon-green {
  font-size: 400%;
  color: green;
}

.item-icon-orange {
  font-size: 400%;
  color: tomato;
}
