.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
  justify-content: center;
}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.85rem !important;
}

.panel-item {
  margin: 1.5%;
}

.item-icon-red {
  font-size: 400%;
  color: Tomato;
}

.item-icon-green {
  font-size: 400%;
  color: green;
}

.item-icon-orange {
  font-size: 400%;
  color: orange;
}
