.menu-horizontal {
    background: #007bff;
    width: 10%;
    height: 1080px;
    float: left;
}

.chuaNghiRaTen {
    width: 90%;
    overflow: hidden !important;
}

.background-light {
    background-color: #f8f9fa !important;
}