.menu-horizontal {
  /* height: 1080px; */
  float: left;
  /* min-width: 168px; */
}

.dashboard-content {
  /* width: 86%; */
  overflow: hidden !important;
}

.background-light {
  background-color: #f8f9fa !important;
  min-height: 100vh;
}

.leftbar-height-100 {
  height: 100vh;
}

.leftbar-width {
  width: 220px;
}

.hidden-xs {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .menu-horizontal {
  }
}

@media (min-width: 768px) {
  .menu-horizontal {
    min-width: 168px;
    width: 14%;
  }
}
