.home-banner-area {
  background: url(../../img/background.png) no-repeat center;
  background-size: cover;
}

.selected-glow {
  padding: 1rem;
  border-radius: 0.85rem;
}

.selected-glow:hover,
.selected-glow:active,
.selected-glow:checked {
  box-shadow: 0 0 10px #4ba0f9;
}

.fullscreen {
  height: 100vh !important;
}

.login-form {
  max-width: 374px;
}

@media (max-width: 768px) {
  .home-banner-left h1 {
    text-align: center;
  }
}

.home-banner-left h1 {
  color: #000000;
  font-size: 74px;
  margin-bottom: 50px;
  font-weight: bold;
}

.blue-text {
  color: #4ba0f9;
}

@media (max-width: 768px) {
  .home-banner-left h1 br {
    display: none;
  }
}

@media (max-width: 992px) {
  .home-banner-left h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .home-banner-left h1 {
    font-size: 54px;
  }
}

@media (max-width: 414px) {
  .home-banner-left h1 {
    font-size: 48px;
  }
}
