.avatar {
  position: relative;
  min-height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.avatar-img {
  width: 70%;
  max-width: 140px;
}

.avatar div {
  margin: 0;
  top: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, -50%);
}
