.navbar-height {
    height: 100px;
}

.navbar-icon {
    font-size: 200%;
    color: #c6c6c6;
    
}

.navbar-icon:hover {
    color: #999;
}

.navbar-white {
    background-color: #fff !important;
}

.narbar-height {
    height: 70px;
}

.pl-2-percent {
    padding-left: 2%;
}

.pr-1-percent {
    padding-right: 1%;
}

.fit-content {
    width: fit-content;
}
