.navbar {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  min-height: 72px;
}

.notification {
  position: absolute !important;
  transform: translate(18px, 16px);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #007bff !important;
  color: #fff !important;
  opacity: 0.65;
}

.navbar-icon {
  font-size: 160%;
  color: #c6c6c6;
  margin: 0rem 0.5rem;
}

.navbar-icon:hover {
  color: #999;
}

.navbar-white {
  background-color: #fff !important;
}

.narbar-height {
  height: 70px;
}

.navbar-title {
  font-weight: 300;
  margin: 0px;
}

.pl-2-percent {
  padding-left: 2%;
}

.pr-1-percent {
  padding-right: 1%;
}

.fit-content {
  width: fit-content;
}

@media (max-width: 768px) {
  .fit-content {
    width: fit-content;
    padding-left: calc(99% - 113px);
  }
}
